:root {
  --light-grey: #d9d9d9;
  --blue: #284b63;
  --white: #FFFFFF;
  --green: #3c6e71;
  --brown: #353535;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100%;
  min-height: 100vh;
}

.app {
  width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--brown);
  cursor: pointer;
  transition: border-color 0.25s;
  color: var(--light-grey);
}
button:hover {
  border-color: var(--blue);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
