.login{
  background-color: var(--blue);
  color: var(--white);
  height: 100vh;
  width: 100vw;

  margin: 0px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}