.menu {
  position: fixed;
  top: 54px;

  height: 100vh;
  width: 250px;
  background-color: var(--green);
  color: white;
  transition: margin-left 0.3s ease-out;

  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
}

.open {
  margin-left: 0;
}

.closed {
  margin-left: -250px;
}

.menu-exit {
  position: absolute;
  top: 10px;
  right: 10px;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.menu-header {
  padding: 10px 10px;
  margin-bottom: 20px;
}

.menu-item {
  padding: 10px 20px;
  cursor: pointer;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.menu-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.menu-search {
  padding: 10px 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  margin-top: 20px;
  height: 20px;
}