.song-table {
  padding: 20px;
  margin-top: 100px;
}

.song-table h2 {
  font-size: 32px;
  margin-bottom: 20px;
  text-align: center;
}

.song-table table {
  width: 70vw;
  border-collapse: collapse;
}

.song-table th, .song-table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}

.song-table th {
  background-color: rgba(255, 255, 255, 0.2);
}

.song-table tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.song-table .pagination {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.song-table .pagination .previous, .song-table .pagination .next {
  padding: 10px 15px;
  border: 1px solid #ddd;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  cursor: pointer;
}

.song-table .pagination .previous:hover, .song-table .pagination .next:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.song-table .pagination .previous {
  margin-right: auto;
}

.song-table .pagination .next {
  margin-left: auto;
}
