.song-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 40px;
}

.tab-container {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: row;
}

.buttons {
  margin-right: 10px;
  align-self: flex-end;

  display: flex;
  flex-direction: column;

  max-width: 150px;

  @media (max-width: 768px) {
    max-width: 60px;
    font-size: 14px;
  }
}

.plus-minus {
  color: var(--brown);
  font-size: 36px;
  font-weight: bold;

  display: flex;
  flex-direction: row;
  justify-content: space-around;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }
}

.plus {
  cursor: pointer;
}

.minus {
  cursor: pointer;
}

.tab {
  flex: 1;
  min-width: 0;
  height: 80vh;

  font-family: monospace;
  white-space: pre;

  background-color: var(--light-grey);

  border-radius: 8px;
}

.song-content-wrapper {
  display: flex;
  flex-direction: row;
  width: 95vw;
}

.transpose-buttons {
  display: flex;
  flex-direction: row;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}

.transpose-up, .transpose-down {
  width: 70px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;

  @media (max-width: 768px) {
    margin-bottom: 10px;
  }
}

.button-heading {
  font-size: 14px;
  margin-bottom: 10px;
}

.tab-error {
  flex: 1;
  min-width: 0;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-grey);
  color: #c00;
  font-size: 18px;
}
