.song-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 40px;
}

.tab-container {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: row;
}

.buttons {
  margin-right: 10px;
  align-self: flex-end;

  display: flex;
  flex-direction: column;
}

.plus-minus {
  color: var(--brown);
  font-size: 36px;
  font-weight: bold;

  display: flex;
  flex-direction: row;
  justify-content: space-around;

  margin-bottom: 10px;
}

.plus {
  cursor: pointer;
}

.minus {
  cursor: pointer;
}

.tab {
  flex: 1;
  min-width: 0;
  height: 80vh;

  font-family: monospace;
  white-space: pre;

  background-color: var(--light-grey);
}

.video-toggle-btn {
  margin-top: 10px;
}

.song-content-wrapper {
  display: flex;
  flex-direction: row;
  width: 95vw;
}
